body {
    margin: 0;
    font-family: Arial;
    background-color: #37475A;
    color: white;
}

.header {
    background: #131921;
    padding: 10px;
    text-align: center;
}

.logo {
    width: 150px;
}

.navbar {
    background: #232F3E;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.main, .content, .amazon-container {
    padding: 20px;
    text-align: center;
}

.nav-box {
    padding: 20px;
    text-align: center;
}
