body {
    margin: 0;
    font-family: Arial;
}

/* ROW 1 */
.row1 {
    display: flex;
    height: 80px;
}

.logo {
    width: 200px;
    background-color: #e6f5f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 150px;
}

.header {
    flex: 1;
    background-color: #2b3440;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* ROW 2 */
.row2 {
    display: flex;
    background-color: #3b4556;
}

.row2 a {
    flex: 1;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* ROW 3 */
.row3 {
    display: flex;
    height: 500px;
}

/* LEFT COLUMN */
.left {
    width: 250px;
    background-color: #eeeeee;
    padding: 20px;
}

/* RIGHT COLUMN */
.right {
    flex: 1;
}

.right iframe {
    width: 100%;
    height: 100%;
    border: none;
}
