body {
    margin: 0;
    font-family: Arial;
}

.header {
    display: flex;
    height: 80px;
    background: #2b3440;
    color: white;
}

.logo {
    width: 200px;
    background: #e6f5f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 140px;
}

.title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    background: #3b4556;
}

.menu div {
    flex: 1;
    text-align: center;
    padding: 12px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.main {
    display: flex;
    min-height: 500px;
}

.left {
    width: 250px;
    background: #eeeeee;
    padding: 20px;
}

.right {
    flex: 1;
    background: #f7f7f7;
    padding: 30px;
}

.right h2 {
    text-align: center;
}
